@tintColor:#C21B7A;

@toolbarHeight:60px;
@toolbarBackground: #B2E2F2;
@toolbarButtonFontColor:rgba(0,0,0,0.5);


@layerTitleHeight:90px;
@layerPaneTitleHeight:30px;
@leftPaneWidth:220px;
@layerPaneBgColor:#ffffff;
@layerPaneColor:black;


@filterPaneTitleHeight:30px;
@filterPaneWidth: 250px;
@filterPaneBackground:#282a30;

@rightMenuWidth: @filterPaneWidth;

