

body {
  margin: 0;
  padding: 0;
  overflow:hidden;

  #layout {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .nav-tabs {
      float: left;
      border-bottom: 0;
      li {
        float: none;
        margin: 0;

        a {
          margin-right: 0;
          border: 0;

          &:hover {
          }
        }
      }

      .active .glyphicon {
      }
    }

    #leftTabStrip {
      height: 100%;
      position:absolute;
      width: @tabSize;
      padding-top: @tabSize;
      overflow:hidden;
      .leftTab {
        border-radius: 0 !important;
        width:@tabSize;
        height:@tabSize;
      }
    }

    .tab-content {
      position: relative;
      margin-left: @tabSize;
      height: 100%;

      .tab-pane {
        display: none;
        padding: 0;
        height:100%;
        position:relative;

        .workspace {

          .palette {
            position:absolute;
            height: 100%;
            width: @leftPaneWidth;
            padding: 0;

            background-color: @layerPaneBgColor;
            text-align: center;
            box-shadow: 5px 0 20px -3px rgba(31, 73, 125, 0.3);
            z-index: 1000;

            .title {
              left: 10px;
              right:0px;
              top: 10px;
              position: absolute;
              img {
                padding-right:20px;
                position: absolute;
                left:10px;
                max-height: 30px;
              }
              div{
                position: absolute;
                left:90px;
                h1{
                  font-size: 25px;
                  font-weight:200;
                  line-height: 45px;
                  margin:0;
                  padding:0;
                  text-align: left;
                }
                h2{
                  font-size: 15px;
                  font-weight:200;
                  margin:0;
                  padding:0;
                  text-align: left;
                }
              }
            }

            #search{
              font-size: 14px;
              width: (@leftPaneWidth)-10;
              left: 2px;
              height: @layerPaneFilterHeight;
              border: 1px solid #222222;
              //box-sizing: border-box;
              border-radius: 2px;
            }

            .panetitle {
              position: absolute;
              top: @layerTitleHeight;
              border-bottom: 1px solid #222222;
              font-weight: 500;
              font-size: 12px;
              padding: 4px 4px 4px 4px;
              letter-spacing: 5px;
              text-align: left;
              //color: @tintColor;
              box-shadow: 0 4px 2px -2px rgba(31, 73, 125, 0.3);
            }

            #paletteElementsScroll {
              position: absolute;
              width: @leftPaneWidth - 2px;
              margin: 0;
              padding: 0;
              top: @layerPaneFilterHeight + @layerTitleHeight + 10px;
              bottom: 0px;
              overflow: auto;
              #paletteElements {
                position: absolute;
                width: 100%;
                margin: 0;
                padding: 0;
                overflow: hidden;
                .mix {
                  height: @leftPaneWidth/2;
                  border: 1px solid #f0f0f0;
                  /* to avoid doubling the border of the grid */
                  margin: -1px 0 0 -1px;
                }
              }
            }
          }
          .content {
            position:absolute;
            right: @filterPaneWidth;
            top:@toolbarHeight;
            bottom:0;
            left: @leftPaneWidth;
            overflow: scroll;
            .canvas {
                width:6000px;
                height:6000px;
            }

            #canvas_config{
              position: fixed;
              width:40px;
              top:@toolbarHeight+5;
              left:@leftPaneWidth+5px;
              cursor:pointer;
              border:1px solid transparent;
              background-color:fadeout(@toolbarBackground,70%);
              &:hover {
                border:1px solid @tintColor  !important;
              }
            }
            
            #canvas_config:hover{
              color:@tintColor;
            }

            #canvas_config_items{
              position: fixed;
              top:@toolbarHeight+30;
              left:@leftPaneWidth+5px;
              cursor:pointer;
              padding:10px;
              white-space:nowrap;
              min-width:250px;
            }
            
          }
        }
      }
      .active {
        display: block;
      }
    }
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border:0;
}
