
@tabSize : 0px;
@leftPaneWidth:250px;

@layerTitleHeight:66px;
@layerPaneFilterHeight:34px;
@layerPaneBgColor:#ffffff;
@layerPaneColor:black;

@probeWindowBackground:#41aaaa;// #ebf0f5; 

@tintColorHIGH: #41aaaa;
@tintColorLOW:  #0078F2;

@toolbarBackground: #ebf0f5; //#c6e5e5;
@toolbarHeight:60px;
@toolbarButtonFontColor:rgba(0,0,0,0.5);

@leftMenubarBackground: #41aaaa;

@filterPaneTitleHeight:30px;
@filterPaneWidth: 250px;
@filterPaneBackground:#282a30;
