

@tabSize : 0px;
@leftPaneWidth:250px;

@probeWindowBackground: #009DAC;

@tintColorHIGH: #C71D3D;
@tintColorLOW:  #0078F2;

@toolbarBackground: #B2E2F2;
@toolbarHeight:60px;
@toolbarButtonFontColor:rgba(0,0,0,0.5);

@leftMenubarBackground: #C71D3D;
